.geral{
    width: 100%;
    height: 100vh;
    display:flex;
    overflow: hidden;
}
.esquerda{
    width: 70%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}
.direita{
    width: 30%;
    background-color: rgb(130, 0, 0);
    height: 100%;
    font-family: "Montserrat", sans-serif;
}
.itensTitulo{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
.voltar{
    width: 30px;

}
.card{
    background-color: rgb(72, 72, 72);
    height: 150px;
    width: 500px;
    box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.363) !important;
    border-radius: 10px;
    gap: 30px;
    color: white;
    display: flex;
    align-items: center;
}
.list-Group{
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.apagar{
    background: none;
    background-image: url("./bin.png") !important;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position: center;
    border:none;
}
.tituloPagamento{
    color: white;
    margin-left: 20px;
}
.titulo{
    display: flex;
}
.pix{
    width: 100px;
    height: 57px;
    margin-top: 8px;
    margin-left: 20px;
    border-radius: 20px;
}
.visa{
    width: 100px;
    height: 57px;
    margin-top: 8px;
    margin-left: 5px;
    border-radius: 20px;
}
.mastercard{
    width: 100px;
    height: 57px;
    margin-top: 8px;
    margin-left: 5px;
    border-radius: 20px;
}
.boleto{
    width: 100px;
    height: 57px;
    margin-top: 8px;
    margin-left: 5px;
    border-radius: 20px;
}
.itensFormulario{
    margin-left: 20px;
    color: white;
}
.input{
    border-radius: 20px;
    border: transparent;
}
.irAoPagamento{
    height: 470px;
    display: flex;
    align-items: end;

}
.botaoPagamento{
    height: 40px;
    font-family: "Montserrat", sans-serif;
    margin-left: 410px;
    border: transparent;
    border-radius: 40px;
    color: rgb(130, 0, 0);
    background-color: white;
    font-weight: 500;
    width: 150px;
    font-size: 15px;
}
.formulario{
    display: none;
}