.geral{
    width: 100%;
    height: 100vh;
    display:flex;
    overflow: hidden;
}
.esquerda{
    width: 70%;
    height: 100%;
}
.direita{
    width: 30%;
    background-color: rgb(130, 0, 0);
    height: 100%;
}