.tela_geral{
    background-color: rgb(16, 16, 16);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    background-image: url("../assets/f.png");
}
.formulario {
    width: 300px;
    /* height: 398px; Remova esta linha para permitir que o conteúdo defina a altura */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrinho{
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
}
.forgot_password{  
    color: white;
}
.input{
    width: 300px;
    height: 32px;
    font-family: "Montserrat", sans-serif;
    margin-top: 16px;
    background-color: transparent;
    border-color: white;
    color: white;
    border: 0.5px solid white;border-radius: 3px;
}
.input::placeholder{
    color: white;
    font-weight: 450;
    padding-left: 40px;
}
.div_texto{
    width: 100%;
    justify-content: end;
    display: flex;
}
.button {
    /* Remova a definição de altura para permitir que o estilo funcione */
    height: 40px !important;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin-top: 40px;
    color: rgb(16, 16, 16);
    border-radius: 3px;
    border: none;
}
.div_username{
    position:relative;
    display:flex;
}
.user{
    position:absolute;
    top: 23px;
    left: 10px;
}
.div_lock{
    position:relative;
    display:flex;
}
.lock{
    position:absolute;
    bottom: 9px;
    left: 10px;
}
.textos:hover{
    font-size: 18px;
}
.banner{
    height: 999px;
    display: flex;
}
.bannerEsquerda{
    width: 50%;
    align-items: center; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 428px;
}
.bannerDireita{
    width: 50%;
    align-items: center; 
    display: flex;
}
.textoBanner{
    font-size: 90px;
    letter-spacing: 2px;
    color: white;
}
.explorar{
    border-color: white;
    border-radius: 10px;
    background-color: rgb(130, 0, 0);
    color: white;
    width: 200px;
    height: 50px;
    font-size: 30px;
}
.camisaPreta{
    position: absolute;
    top: -42px;
}
.p{
    font-size: 20px;
    color: white;
}
.logoNav{
    width: 58px;
    margin-right: 15px;
}
.logoNav:hover{
    width: 65px;
}
.tela2{
    background-color: rgb(25, 25, 25);
}
.produtos{
    color: white;
    margin-left: 75px;
    font-size: 50px;
}
.linha1{
    background-color: rgb(130, 0, 0);
    height: 4px;
}
.pProdutos{
    margin-left: 75px;
    color: white;
}

  .swiper-container {
    width: 90%;
    max-width: 1200px;
  }

  .swiper-slide {
    text-align: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .swiper-slide img {
    width: 200px;
    height: 150px; /* Mantém um tamanho consistente */
    object-fit: cover; /* Garante que a imagem se ajusta sem distorção */
    margin-bottom: 15px;
    border-radius: 5px;
  }

  .swiper-slide h3 {
    font-size: 16px;
    margin: 10px 0;
  }

  .swiper-slide p {
    font-size: 14px;
    color:#28a745;
  }
  .swiper-pagination{
    position: relative !important; 
    left: 300px !important;
    top: 10px !important;
  }
  .swiper-button-next {
    bottom: -40px !important;
  }
  
  .swiper-button-prev {
    bottom: -40px !important;
  }
  .swiper-container {
    position: relative;
  }